<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
	<add name="Default" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\josem\OneDrive\Escritorio\UNIVERSIDAD 2020 -2\PROGRAMACION 3\PRACTICAS DE VISUAL\Pulsaciones-con-interfaz-2.0 CON BASE DE DATOS\DAL\Database1.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>